body{
    font-family: sans-serif;
    margin : 0px; overflow: hidden;
}
div.panel{
    border-radius: 10px;
    background-color: rgb(16, 147, 198, 0.8);
    color: #F8F5F6;
    width: 300px;
    height:300px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    z-index: 1;
    display: none;
    flex-direction: column;
    position: absolute;
  }

  a-scene{
      z-index: -999;
  }

  div#device_status{
      background-color: #ff5757;
      border-radius: 50%;
      border: 2px solid white;
      width: 25px;
      height: 25px;
      position: absolute;
      right: 25px;
      top: 25px;
      display: none;
  }

  div.section{
      flex-grow: 1;
      display:flex;
      align-items: center;
      margin: auto;
  }

  div.panel h1{
      color: #F8F5F6;
      text-shadow: 0 0 8px #000;
  }
  div.panel button{
    color: #F8F5F6;
    background-color: rgb(34, 101, 140);
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    text-shadow: 0 0 2px #000;

}
div.panel button:hover{
    color: #F8F5F6;
    background-color: rgb(28, 160, 197);
}

.anchored{
    position:fixed;
    z-index: 1;
    display: none;
}

.single-button{
    background-color: rgb(16, 147, 198);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 8px solid rgba(10, 112, 153);
}

.single-button:hover{
    color: #F8F5F6;
    background-color: rgb(28, 160, 197);
}